.contenedorAlertas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px

}
.contenedorListaAlertas{
    width: 40%;
    margin-right: 30px;
}

.flex-containerAlerts{
    width: 100%;
}


.preciosAlerts {
   
    overflow-x: auto;
  
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(240, 5.9%, 90%);
    border-radius: 3px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.preciosAlerts .encabezado h3{
    margin-right: auto;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom:20px;
    font-weight: 600;
}

.encabezado i {
    font-size: 20px;
}


.preciosAlerts table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    
}

.preciosAlerts table th {
    font-size: 14px;
    background-color: #eee;
    padding: 16px 14px 16px 6px;
    font-weight: 500;
    text-align:start;
    border-bottom: 1px solid var(--gris);
}


.preciosAlerts table td {
    font-size: 14px;
    padding: 6px 8px 6px 0px;
    border-bottom: 1px solid #ddd;
    
}



.preciosAlerts tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.preciosAlerts tbody tr:hover {
    background: #eee; 
}

.preciosAlerts tbody tr.seleccionado {
    background: #bdd7e9; 
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s; 
}

.RefrescarbtnAlerts {
   display: flex;
   align-items: center;
   padding: 3px 4px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    background: #f0ad4e; /* Color de fondo para refrescar */
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.TablaAlertas{
    width: 60%;
}