.graficas {
    overflow-x: auto;
    margin-top: 30px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(240, 5.9%, 90%);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor-graficas{
    width: 45%;
}
.titulo-grafica {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.info-grafica {
    color: grey;
}
