.form-input{
    display: flex;
    align-items: center;
    height: 36px;
}
.form-input input{
    font-size: 16px;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #fff;
    border-radius: 30px 0 0 30px;
    outline: none;
    width: 70%;
    color: black
}
.form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4f42a7;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.imagen-busqueda{
    width: 38%;
    height:70%;
}