.graficas {
   
   
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(240, 5.9%, 90%);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.contenedor-graficas{
    width: 35%;
}
.titulo-graficas {
    font-weight: 600;
}

.info-grafica {
    color: grey;
}
