.perfil-container {
    color: #1a1a1a; 
    padding: 2rem;
    border-radius: 10PX; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.titulo {
    font-size: 1.875rem;
    font-weight: 600; 
    margin-bottom: 1.5rem;
}

.subtitulo {
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-bottom: 1rem; 
    color: #6d6a6a; 
}

.grid {
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.inputInfo{
    
width: 48%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.inputInfo label{
    font-size: 12px;
    
}

.input {
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    margin-top: 5px;
   width: 100%;
    padding: 12px;
    background-color: #e6e6e6; 
    color: black;
    border: 1px solid black; 
    border-radius: 5px;
    outline: none; 
    font-size: medium;
}



.tabla {
    width: 100%;
    text-align: left;
    border-collapse: collapse; /* Colapsar bordes */
}

.tabla th,
.tabla td {
    padding: 0.5rem; /* Espaciado interno */
    border: 1px solid #d1d5db; /* Borde gris */
}


  
  /* Título principal */
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* Barra de acciones */
  .barra-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 2.8rem;
  }
  
  /* Input de búsqueda */
  .input-busqueda {
    font-size: 16px;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #fff;
    border-radius: 10px;
    outline: none;
    width: 100%;
    color: black;
  }
  

  .btn-agregar {
    margin-left: 8px;
    padding: 13px 36px 13px 36px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color:#82D9B0;
  }

  
  .btn-editar{
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
  margin-left: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color:#F2AB6D;
    font-weight: bold;
    
  }

  .contenedor-users{
    overflow-x: auto;
  }
  /* Estilo de la tabla */
  .tabla {
   
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 16px;
  }
  
  /* Encabezado de la tabla */
  .tabla thead {
    background-color: #f7fafc;
  }
  
  .tabla th {
    padding: 12px;
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
  }
  
  /* Celdas de la tabla */
  .tabla td {
    padding: 12px;
    border-bottom: 1px solid #d4d4d4;
  }
  
  /* Efecto hover para las filas */
  .tabla tbody tr:hover {
    background-color: #f1f5f9;
  }
  
  a {
    color: #4299e1;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }



@media (max-width: 768px) {
.inputInfo{
    width: 100% !important;
    
}

.btn-agregar {
    margin-left: 8px;
    padding: 13px 16px 13px 16px;
  
  }

  .barra-acciones .btn-editar{
    padding: 13px 10px 13px 10px;
  }
}

