
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #eee;
    color: black;
    
}


.contenedor {
    padding: 5px 30px 0px 30px;
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
    
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    justify-content: space-around;
    
}

.filtro-item {
    display: flex;
    align-items: center;
   
    
}

.etiqueta {
    margin-right: 8px;
    font-size: 16px;
   }

.seleccion, .input-fecha, .input-rango {
    border: 1px solid hsl(240, 5.9%, 90%);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.input-rango {
    width: 128px;
}

.flex-container {
    display: flex;
    gap: 16px;
    flex-direction: row;
}


.precios {
    width: 60%; 
    overflow-x: auto;
    margin-top: 30px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(240, 5.9%, 90%);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.precios .encabezado{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 24px;
}

.precios .encabezado h3{
    margin-right: auto;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.encabezado i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.encabezado i:hover {
    transform: scale(1.2);
    color: hsl(240, 60%, 50%);
}

.encabezado .EditarBtn{
    font-size: 15px;
    padding: 6px 20px;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    background: #6dcca0;
    cursor: pointer;
    
    transition: transform 0.3s ease, color 0.3s ease;
}

.EditarBtn:hover {
    transform: scale(1.1);
   
}

.precios table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.precios table th {
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--gris);
}

.precios table td {
    padding: 16px 0;
}

.precios table tr td:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 6px;
    max-width: 300px;
}

.precios table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.precios tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.precios tbody tr:hover {
    background: #eee; /* Color de fondo al pasar el mouse */
}

.precios tbody tr.seleccionado {
    background: #bdd7e9; /* Color de fondo al seleccionar */
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: background 0.3s, transform 0.3s; 
}

.precio-celda {
    border-left: 2px solid hsl(0, 2%, 77%); 
}

.thPrecio{
    border-left: 2px solid hsl(0, 2%, 77%); 
   
}

.SpanPrecio{
    margin-left: 10px;
    font-weight: bold;
}

.spanPrecioWarning{
    margin-left: 10px;
    font-weight: bold;
    color: red;
}

